@page "/apodrandDisp"
@inject IHttpClientFactory _clientFactory
<style>
    main {
        background: var(--secondary1);
        max-width: 45em;
        margin: 0 auto;
    }
</style>
<PageTitle>Random APOD</PageTitle>


@if (apodRands == null)
{
    <p><em>Loading...</em></p>
}
else{
    @foreach (var randapod in apodRands)
    {
        <!-- Today randomAPOD modal-->
        <div id="randapoddetails">
            <div class="apod__content">
                <h2 id="apiDate2">@randapod.date</h2>
                @if (randapod.media == "video")
                {
                    <iframe class="iframeLg" controls
                src="@randapod.hdurl" allowfullscreen="true">
                    </iframe>
                }
                else
                {
                    <img class="apiHDimg2" src="@randapod.hdurl" alt="image_empty">
                }
                <h3 id="apiTitle">@randapod.apodtitle</h3>
                <p id="apiExplanation">@randapod.explanation</p>
            </div> <!-- Today randomAPOD modal end-->
        </div>
    }
}
@code {
    public APOD[]? apodRands;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = _clientFactory.CreateClient("APIClient");
        apodRands = await httpClient.GetFromJsonAsync<APOD[]>("/SpaceFlightAPI/apodrand");
    }
}
